body {
    font-family: "Jockey One", serif;
    text-align: center;
    margin: 0;
    background-color: #373737;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 30px;
    left: 60px;
}

/* עיצוב הלוגו בדסקטופ */
#logo {
    position: absolute;
    top: 20px; /* שמירת מרווח מהחלק העליון */
    left: 20px; /* הצמדת הלוגו לשמאל */
    width: 150px; /* גודל סטנדרטי */
    z-index: 100; /* ווידוא שהלוגו מעל כל האלמנטים */
}

/* התאמות למובייל */
@media (max-width: 768px) {
    #logo {
        width: 100px; /* הקטנת הלוגו */
        top: 10px; /* התאמת גובה */
        left: 10px; /* התאמת השוליים */
        display: block; /* לוודא שהוא לא מוסתר */
        position: fixed; /* שומר על המיקום גם בגלילה */
    }
}

#main-screen h1,
#main-screen h2,
#main-screen h3 {
    margin-bottom: 20px; /* מוסיף רווח מתחת לכותרות */
}

h1 {
    font-family: "Jockey One", serif;
    font-size: 2em;
    color: #8281FE;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
    font-weight: normal;
}

#explore-button {
    background: url("images/riffle-btn.svg") no-repeat center center;
    background-size: contain;
    border: none;
    width: 200px; /* גודל אחיד */
    height: 200px;
    margin: 30px auto; /* מבטיח שהכפתור יהיה במרכז ויהיה רווח */
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute; /* ממקם במרכז הדף */
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out; /* אנימציה חלקה */
}

/* עיצוב הטקסט */
#explore-button span {
    font-size: 20px;
    font-weight: bold;
    color: white; /* צבע הטקסט */
    font-family: 'Jockey One', sans-serif;
    position: absolute; /* מוודא שהטקסט יושב מעל התמונה */
}

/* אפקט hover */
#explore-button:hover {
    transform: translate(-50%, -50%) scale(1.08); /* הגדלה קלה */
}

/* אפקט לחיצה */
#explore-button:active {
    transform: translate(-50%, -50%) scale(0.95); /* קטן טיפה בלחיצה */
}

button {
    padding: 10px 20px;
    font-family: "Jockey One", serif;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #8281FE;
}

#result-screen {
    color: white; /* משנה את צבע הטקסט ללבן */
}

#spotify-link {
    border-radius: 8px;
}

#explore-again-button {
    background-color: transparent; /* רקע שקוף */
    border: 2px solid #8281FE; /* מסגרת בצבע 8281FE */
    color: #8281FE; /* צבע טקסט */
    font-size: 18px; /* גודל טקסט */
    padding: 10px 20px; /* ריווח פנימי */
    border-radius: 8px; /* קצוות מעוגלים */
    cursor: pointer; /* שינוי סמן העכבר */
    transition: all 0.3s ease-in-out; /* אנימציה חלקה */
}

/* אפקט hover */
#explore-again-button:hover {
    background-color: #8281FE; /* רקע מתמלא */
    color: white; /* טקסט לבן */
}

#albumDetails {
    margin-top: 20px;
}

#albumImage {
    max-width: 150px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    #logo {
        max-width: 60%; /* לוגו קטן יותר במובייל */
    }

    #explore-button {
        font-size: 18px;
        padding: 12px 20px;
    }

    h1, h2, h3 {
        font-size: 16px; /* הקטנת כותרות כך שלא יצאו מהמסך */
    }

    #main-screen {
        padding: 10px;
    }
}

.content-wrap {
    flex: 1;
}

footer {
    color: #FFFFFF;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

}

footer a {
    color: #FFFFFF; /* ירוק של ספוטיפיי */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* עיצוב מיכל האנימציה */
#loading-animation {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* התאמות למובייל */
@media (max-width: 768px) {
    #loading-animation {
        width: 150px;
        height: 150px;
    }
}



/*.lds-ripple,
.lds-ripple span {
  box-sizing: border-box;
}
.lds-ripple {
  display: none;
  position: relative;
  width: 22px;
  height: 22px;
}
.loading .lds-ripple {display: inline-block}
.lds-ripple span {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple span:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  4.9% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  5% {
    top: 9px;
    left: 9px;
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    opacity: 0;
  }
}
*/
